<!doctype html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <title>Consulta Empresas</title>


</head>
<body>

<main>
  <div class="px-4 py-3 my-2 text-center">
    <h1 class="display-5 fw-bold mb-4">Empresas</h1>
    <div class="d-flex justify-content-center gap-3">
      <!-- estas son las tarjetas de cada paciente -->
      <div th:each="empresas:${empresas}"  class="card" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Gnome-applications-office.svg/48px-Gnome-applications-office.svg.png" class="d-block mx-auto my-5 mb-4" alt="Empresa" height="50">
        <div class="card-body my-1">


           <label>Nombre Empresa:</label>
           <h5 th:text="${empresas.nombreEmpresa}"  class="card-title"></h5>
         <label>NIT:</label>
          <p  th:text="${empresas.nit}"   class="card-text"></p>
          <label>Teléfono:</label>
          <p  th:text="${empresas.telefono}"   class="card-text"></p>
          <label>Correo:</label>
          <p  th:text="${empresas.correo}"   class="card-text"></p>
          <label>Dirección:</label>
          <p  th:text="${empresas.direccion}"   class="card-text"></p>
          <p  th:text="${empresas.direccion2}"   class="card-text"></p>
          <label>País:</label>
          <p  th:text="${empresas.pais}"   class="card-text"></p>
          <label>Ciudad:</label>
          <p  th:text="${empresas.ciudad}"   class="card-text"></p>
          <label>Zip:</label>
          <p  th:text="${empresas.codigozip}"   class="card-text"></p>

            <div class="d-flex gap-1 justify-content-center">
                <form th:action="@{/enterprises/{id}(id=${empresas.nit})}" th:method="get">
                    <button type="submit" class="btn btn-primary">Editar</button>
                </form>

                <form th:action="@{/enterprises/{id}(id=${empresas.nit})}" th:method="delete">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>



        </div>
      </div>
    </div>

    <div class="px-4 py-5 my-5 text-center">
        <a href="/enterprises/new" class="btn btn-primary" type="button">Crear Empresa</a>
        <a href="/" class="btn btn-primary" type="button">Ir al Inicio</a>
    </div>

  </div>

</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>