<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>enterprises</title>

</head>
<body>

<main class="main">

    <div class="px-4 py-4 mx-5 my-5 text-center">
        <img src="/img/112.jpg" class="d-block mx-auto my-auto mb-4" height="150" />
    </div>
    <div class="text-center row g-4 py-2 row-cols-1 row-cols-lg-3" >
        <div>
            <input type="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Gnome-bookmark-new.svg/48px-Gnome-bookmark-new.svg.png" class="boton" onclick="window.open('http://localhost:8080/enterprises/new', '_self')">
            <p >Crear Empresa </p>
        </div>
        <div>
            <input type="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Gnome-logviewer.svg/48px-Gnome-logviewer.svg.png" class="boton" onclick="window.open('http://localhost:8080/enterprises/search', '_self')">
            <p >Consultar Empresas </p>
        </div>
        <div>
            <input type="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Gnome-edit-undo.svg/48px-Gnome-edit-undo.svg.png" class="boton" onclick="window.open('/', '_self')">
            <p >Atrás </p>

        </div>




    </div>


</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>




